{% extends "base.html" %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-0">Editar Cliente</h1>
    <form action="{{ url_for('cliente.editar_cliente', cliente_id=cliente.id) }}" method="POST">
        <div class="form-group">
            <label for="nome">Nome Completo</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.nome }}" required>
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ cliente.cpf }}" required>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" value="{{ cliente.telefone }}" required>
        </div>
        <form action="{{ url_for('cliente.atualizar_cliente', cliente_id=id_cliente) }}" method="POST">
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
            <a href="{{ url_for('cliente.lista_clientes') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </form>
</div>
{% endblock %}
