{% extends "base.html" %}

{% block body %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-5">

        <form id="buscarReservaForm" action="" method="GET" class="form-inline justify-content-center" onsubmit="buscarReserva(event)">
            <input type="text" id="codigoInput" class="form-control mr-2" placeholder="Buscar por código" required>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <h1 class="display-5 text-center my-0 offset-mr-1">Lista de Reservas</h1>

        <form action="{{ url_for('reserva.cadastrar_reserva') }}" method="GET" class="mx-4">
            <button type="submit" class="btn btn-primary">Nova Reserva</button>
        </form>
        
    </div>
</div>
    <div class="row">
        {% if reserva_escolhida %}
            <div class="col-md-6 offset-md-3">
                <h2 class="card-title"><strong>Reserva encontrada!</strong></h2>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title"><strong>Dados da Reserva</strong></h2>
                        <p class="card-text"><strong>Código:</strong> {{ reserva_escolhida["codigo"] }}</p>
                        <p class="card-text"><strong>Data:</strong> {{ reserva_escolhida["data"] }}</p>
                        <p class="card-text"><strong>Período:</strong> {{ reserva_escolhida["periodo"] }}</p>
                        <p class="card-text"><strong>Estado:</strong> {{ reserva_escolhida["estado"] }}</p>
                        <p class="card-text"><strong>Cliente:</strong> {{ reserva_escolhida["cliente"].nome }}</p>
                        <p class="card-text"><strong>Mesa:</strong> {{ reserva_escolhida["mesa"].numero }}</p>
                        <a href="/editar_reserva" class="btn btn-primary">Editar</a>
                        <form action="/cadastrar_reserva" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
        {% elif reservas %}
            {% for reserva in reservas %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title"><strong>Dados da Reserva</strong></h2>
                        <p class="card-text"><strong>Código:</strong> {{ reserva["codigo"] }}</p>
                        <p class="card-text"><strong>Data:</strong> {{ reserva["data"] }}</p>
                        <p class="card-text"><strong>Período:</strong> {{ reserva["periodo"] }}</p>
                        <p class="card-text"><strong>Estado:</strong> {{ reserva["estado"] }}</p>
                        <p class="card-text"><strong>Cliente:</strong> {{ reserva["cliente"].nome }}</p>
                        <p class="card-text"><strong>Mesa:</strong> {{ reserva["mesa"].numero }}</p>
                        <a href="{{ url_for('reserva.editar_reserva', reserva_id=reserva.id) }}" class="btn btn-primary">Editar</a>
                        <form action="{{ url_for('reserva.excluir_reserva', reserva_id=reserva.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-center">Não há reservas cadastradas.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function buscarReserva(event) {
        event.preventDefault();  // Previne o envio padrão do formulário
        const codigo = document.getElementById('codigoInput').value;
        if (codigo) {
            const form = document.getElementById('buscarReservaForm');
            form.action = "{{ url_for('reserva.buscar_reserva_por_codigo', codigo='') }}" + codigo;
            form.submit();  // Submete o formulário após ajustar a URL
        }
    }
</script>
{% endblock %}